<form action="/api/send" method="POST">
    <div>
        <label for="email">Email Address</label>
        <input type="email" id="email" name="to" placeholder="Enter Email" />
    </div>
    <div>
        <label for="subject">Subject</label>
        <input type="text" id="subject" name="subject" placeholder="Enter Subject" />
    </div>
    <div>
        <label for="body">Body</label>
        <input type="text" id="body" name="body" placeholder="Enter Body Text" />
    </div>
    <button type="submit">Send Email</button>
</form>